In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
%matplotlib inline

In [19]:
aapl = yf.Ticker('AAPL')
days = 20
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-26,134.601376,134.830982,133.333525,134.491562,66905100,0.00,0
2021-04-27,134.781053,135.180384,133.882585,134.162109,66015800,0.00,0
2021-04-28,134.082243,134.791046,132.854333,133.353485,107760100,0.00,0
2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0
2021-04-30,131.556541,133.333521,130.847753,131.237091,109713200,0.00,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
2021-05-07,130.850006,131.259995,129.479996,130.210007,78892700,0.22,0
2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0
2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0.00,0
2021-05-14,126.250000,127.889999,125.849998,127.449997,81806500,0.00,0
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0.00,0
2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0.00,0
2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0.00,0
2021-05-20,125.230003,127.720001,125.099998,127.309998,76857100,0.00,0
2021-05-21,127.820000,128.000000,125.209999,125.430000,79209300,0.00,0

In [26]:
hist = hist.T
hist
hist.index.name = 'Name'
hist

Name,26 April 2021,27 April 2021,28 April 2021,29 April 2021,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021
Name,,,,,,,,,,,,,,,,,,,,
Open,1.346014e+02,1.347811e+02,1.340822e+02,1.362386e+02,1.315565e+02,1.318161e+02,1.309675e+02,1.289809e+02,1.276731e+02,1.308500e+02,1.294100e+02,1.235000e+02,1.234000e+02,1.245800e+02,1.262500e+02,1.268200e+02,1.265600e+02,1.231600e+02,1.252300e+02,1.278200e+02
High,1.348310e+02,1.351804e+02,1.347910e+02,1.368376e+02,1.333335e+02,1.338427e+02,1.312670e+02,1.302288e+02,1.295300e+02,1.312600e+02,1.295400e+02,1.262700e+02,1.246400e+02,1.261500e+02,1.278900e+02,1.269300e+02,1.269900e+02,1.249200e+02,1.277200e+02,1.280000e+02
Low,1.333335e+02,1.338826e+02,1.328543e+02,1.322254e+02,1.308478e+02,1.316065e+02,1.264852e+02,1.277530e+02,1.269144e+02,1.294800e+02,1.268100e+02,1.227700e+02,1.222500e+02,1.242600e+02,1.258500e+02,1.251700e+02,1.247800e+02,1.228600e+02,1.251000e+02,1.252100e+02
Close,1.344916e+02,1.341621e+02,1.333535e+02,1.332537e+02,1.312371e+02,1.323152e+02,1.276332e+02,1.278828e+02,1.295200e+02,1.302100e+02,1.268500e+02,1.259100e+02,1.227700e+02,1.249700e+02,1.274500e+02,1.262700e+02,1.248500e+02,1.246900e+02,1.273100e+02,1.254300e+02
Volume,6.690510e+07,6.601580e+07,1.077601e+08,1.511010e+08,1.097132e+08,7.513510e+07,1.375647e+08,8.400090e+07,7.812830e+07,7.889270e+07,8.807120e+07,1.261428e+08,1.121723e+08,1.058613e+08,8.180650e+07,7.424460e+07,6.334290e+07,9.261200e+07,7.685710e+07,7.920930e+07
Dividends,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Stock Splits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [27]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    # company = 'facebook'
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [28]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

get_data(days, tickers)

Date,26 April 2021,27 April 2021,28 April 2021,29 April 2021,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,134.491562,134.162109,133.353485,133.253662,131.237091,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000
facebook,303.040009,303.570007,307.100006,329.510010,325.079987,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011
google,2309.929932,2290.979980,2359.040039,2392.760010,2353.500000,2343.080078,2306.830078,2314.770020,2337.350098,2351.929932,2291.750000,2270.060059,2200.250000,2229.040039,2278.379883,2288.919922,2262.469971,2271.500000,2306.949951,2294.129883
microsoft,260.947449,261.366486,253.973541,251.928268,251.599030,251.279770,247.219147,245.902191,249.154678,251.878387,246.610550,245.662735,238.449402,242.470108,247.578308,244.615158,242.520004,243.119995,246.479996,245.169998
netflix,510.299988,505.549988,506.519989,509.000000,513.469971,509.109985,503.179993,496.079987,499.549988,503.839996,486.690002,495.079987,484.980011,486.660004,493.369995,488.940002,486.279999,487.700012,501.670013,497.890015
amazon,3409.000000,3417.429932,3458.500000,3471.310059,3467.419922,3386.489990,3311.870117,3270.540039,3306.370117,3291.610107,3190.489990,3223.909912,3151.939941,3161.469971,3222.899902,3270.389893,3232.280029,3231.800049,3247.679932,3203.080078

In [47]:
import altair as alt
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}
df = get_data(days, tickers)
df

Date,26 April 2021,27 April 2021,28 April 2021,29 April 2021,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,134.491562,134.162109,133.353485,133.253662,131.237091,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.430000
facebook,303.040009,303.570007,307.100006,329.510010,325.079987,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988,305.260010,315.940002,315.459991,309.959991,313.589996,318.609985,316.230011
google,2309.929932,2290.979980,2359.040039,2392.760010,2353.500000,2343.080078,2306.830078,2314.770020,2337.350098,2351.929932,2291.750000,2270.060059,2200.250000,2229.040039,2278.379883,2288.919922,2262.469971,2271.500000,2306.949951,2294.129883
microsoft,260.947449,261.366486,253.973541,251.928268,251.599030,251.279770,247.219147,245.902191,249.154678,251.878387,246.610550,245.662735,238.449402,242.470108,247.578308,244.615158,242.520004,243.119995,246.479996,245.169998
netflix,510.299988,505.549988,506.519989,509.000000,513.469971,509.109985,503.179993,496.079987,499.549988,503.839996,486.690002,495.079987,484.980011,486.660004,493.369995,488.940002,486.279999,487.700012,501.670013,497.890015
amazon,3409.000000,3417.429932,3458.500000,3471.310059,3467.419922,3386.489990,3311.870117,3270.540039,3306.370117,3291.610107,3190.489990,3223.909912,3151.939941,3161.469971,3222.899902,3270.389893,3232.280029,3231.800049,3247.679932,3203.080078

In [54]:
companies = ['apple','facebook']
data = df.loc[companies]
data = data.T.reset_index()
data.head()

Name           Date       apple    facebook
0     26 April 2021  134.491562  303.040009
1     27 April 2021  134.162109  303.570007
2     28 April 2021  133.353485  307.100006
3     29 April 2021  133.253662  329.510010
4     30 April 2021  131.237091  325.079987

In [55]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value':'Stock Prices(USD)'})
data

             Date      Name  Stock Prices(USD)
0   26 April 2021     apple         134.491562
1   27 April 2021     apple         134.162109
2   28 April 2021     apple         133.353485
3   29 April 2021     apple         133.253662
4   30 April 2021     apple         131.237091
5     03 May 2021     apple         132.315247
6     04 May 2021     apple         127.633202
7     05 May 2021     apple         127.882790
8     06 May 2021     apple         129.520004
9     07 May 2021     apple         130.210007
10    10 May 2021     apple         126.849998
11    11 May 2021     apple         125.910004
12    12 May 2021     apple         122.769997
13    13 May 2021     apple         124.970001
14    14 May 2021     apple         127.449997
15    17 May 2021     apple         126.269997
16    18 May 2021     apple         124.849998
17    19 May 2021     apple         124.690002
18    20 May 2021     apple         127.309998
19    21 May 2021     apple         125.430000
20  26 April 2021  facebook         303.040009
21  27 April 2021  facebook         303.570007
22  28 April 2021  facebook         307.100006
23  29 April 2021  facebook         329.510010
24  30 April 2021  facebook         325.079987
25    03 May 2021  facebook         322.579987
26    04 May 2021  facebook         318.359985
27    05 May 2021  facebook         315.019989
28    06 May 2021  facebook         320.019989
29    07 May 2021  facebook         319.079987
30    10 May 2021  facebook         305.970001
31    11 May 2021  facebook         306.529999
32    12 May 2021  facebook         302.549988
33    13 May 2021  facebook         305.260010
34    14 May 2021  facebook         315.940002
35    17 May 2021  facebook         315.459991
36    18 May 2021  facebook         309.959991
37    19 May 2021  facebook         313.589996
38    20 May 2021  facebook         318.609985
39    21 May 2021  facebook         316.230011

In [70]:
ymin, ymax = 300, 400
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin,ymax])),
        color='Name:N')
)

In [71]:
chart

alt.Chart(...)